.brand {
    height: 100px;
    width: 100%;
    padding: 30px;
    margin-left: 20px;
    background: url(img/logosml.png) no-repeat center left;
    background-size: 180px 60px;
    vertical-align: bottom;
    text-align: center;
}

.form-container{
    width: 100%;
    max-height: 450px;
    overflow: auto;
    border: solid;
    border-style: inset;
}

.add-btn,
.remove-btn{
    width: 100%;
}

.searchbox{
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-btn{
        text-align: right;
}

h1{
    align: center;
    font-weight: bold;
    font-size: 25px;
    color: #f8f8f8;
}

.header{
    min-height:300px;
    border-color: transparent;
    background-color: #434358;
    border: none;
}

body{
    border-color: transparent;
    background-color: #434358;
    border: none;
    padding: 5px;
}

.table-text{
    width:100%;
    border-color: transparent;
    background-color: transparent;
    color: #f8f8f8;
    border: none;
}

.header-text{
    font-weight: bold;
}

.warn{
    font-weight: bold;
    text-align: center;
}