<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.searchbox').on('keyup',function(){
                var searchTerm = $(this).val().toLowerCase();
                    $('.searchable').each(function(){
                    window.x =this;
                    var searchableStr = this.getAttribute('value').toLowerCase();
                    if(searchableStr.indexOf(searchTerm) === -1){
                        $(this.parentNode.parentNode).hide();
                    }else{
                        $(this.parentNode.parentNode).show();
                    }
                });
            });
        });
    </script>
    <meta charset="UTF-8">
    <title>Employee Panel</title>
    <div class="container ">
        <div class="brand">
            <div align="center"><h1>Employee manager</h1></div>
        </div>

    </div>
</head>
<body>
    <div class="employee container">
        <input type="text" class="searchbox form-control" placeholder="Search for employee" >
        <div class="form-container container">
            <table class="employeeTable table">
                 <tr>
                    <th class="table-header"><input type="text" class="table-text header-text" readonly="readonly" value="NAME" ></th>
                    <th class="table-header"><input type="text" class="table-text header-text" readonly="readonly" value="DEPARTMENT"  ></th>
                    <th class="table-header" colspan="2"><input type="text" class="table-text header-text" readonly="readonly" value= "E-MAIL" ></th>
                </tr>
                {% if _employees|length > 0 %}
                    {% for employee in _employees %}
                    <form method="POST" action="/employee/remove">
                        <tr>
                            <td width="35%"><input class="searchable table-text"   type="text" readonly="readonly" name="name" value="{{ employee.name }}" ></td>
                            <td width="20%"><input type="text" class="table-text" readonly="readonly" name="department" value="{{ employee.department }}" ></td>
                            <td width="35%"><input type="text" class="table-text" readonly="readonly" name="email" value="{{ employee.email }}" ></td>
                            <td hidden="hidden" width="0"><input type="text" name="employee_id" value="{{ employee.employee_id }}" ></td>
                            <td width="10%" class="right-btn"><button class="btn remove-btn" type="submit">Remove</button></td>
                        </tr>
                    </form>
                    {% endfor %}
                {% else %}
                    <tr>
                            <td colspan="3", class="table-text warn">No employees found in database!</td>
                    </tr>
                {% endif %}
                <form method="POST" action="/employee/add">
                    <tr>
                        <td width="35%"><input type="text" class="table-text" name="name" placeholder="name" ></td>
                        <td width="20%"><input type="text" class="table-text" name="department" placeholder="department" ></td>
                        <td width="35%"><input type="text" class="table-text" name="email" placeholder="e-mail" ></td>
                        <td width="10%" class="right-btn"><button class="btn add-btn" type="submit">Add</button></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>
</html>


